module "sschmidt-testlandscape-saptun" {

  source   = "../../modules/simple_aws"
  location = "eu-west-1"
  name     = "sschmidt-testlandscape-saptune"

  machines = {
    {% for machine in machines %}
    {{ machine.name }} = ["{{ machine.size }}", "{{ machine.os }}"]
    {% endfor %}
  }

  admin_user_key                = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD0a0ihE4NnCzbxlySm2F+g33FbVMgkCPsDutCmu+jmn4CfJ8agvLqo1+QJCUsQxDeqoy0jpL7VOMb1qmBYRt4fXDhNCDjZt9xVcmTdMsKKV+EyUejwKN45BnPWWi6UAAmWJyRfARKOoQiBQ/oYA/J4keFdsd2hwOWt6VuQI6osCE1amtXty4fMzVxwN3xt22ifAYhwZ5tfNLxr65cs4uEfPwd24pnPjFsi+pYqCW1qBb2l/1F41GmF/dwGW+yPhD4oOORQYjb8gvlvIpbwsHlvsYlIW6XeUZf6+SloO1RDcQUBw3SE8lBYP/L8z00BnB6nNG2Lfbfemaut8ecaIb4v sschmidt-key"
  subscription_registration_key = "INTERNAL-USE-ONLY-a305e764b73f31ed"
  enable_root_login             = true
}

# Name, size, image and IP address of the deployed machines.
output "test_machines" {
  value = [
    for name, info in module.test_landscape_A.machine_info :
    "${name} : ${info.size}/${info.image} -> ${info.ip_address}"
  ]
  description = "Information about the instances."
  sensitive   = false
}

